@model List<ShoesShopOnline.Models.CartItem>
<<<<<<< HEAD
    @{
        Layout = "~/Views/Shared/_LayoutClient.cshtml";
        var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        decimal tongtien = 0;

    }
    @section jsFooter{
        <script src="~/Assets/Client/controller/cartController.js"></script>
        <link href="~/Assets/Client/css/CustomButton.css" rel="stylesheet" />
    }
    <h2>Giỏ Hàng</h2>
    <div class="content" style="margin:50px 200px">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Đơn giá</th>
                        <th>Size giày</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        tongtien = tongtien + @item.Gia * @item.SoLuong;
                        <tr id="row-order-@item.MaAnh@item.KichCo">
                            <td>@item.ChiTietSanPham.AnhMoTa.SanPham.TenSP</td>
                            <td>

                                @{
                                    string ImagePath = "~/wwwroot/Images/" + @item.ChiTietSanPham.AnhMoTa.HinhAnh;
                                } <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />

                            </td>
                            <td>@String.Format("{0:0,0}", @item.Gia)</td>
                            <td>@item.KichCo</td>
                            <td><input type="number" class="txtQuantity" data-id="@item.MaAnh" data-kichco="@item.KichCo" min="1" value="@item.SoLuong" /></td>
                            <td id="thanh-tien-@item.MaAnh@item.KichCo">@String.Format("{0:0,0}",(item.Gia * item.SoLuong))</td>
                            <td>
                                <div class="clearfix"></div>
                                <button id="deleteId" data-id="@item.MaAnh" data-kichco="@item.KichCo" class="btnDelete">X</button>
                            </td>
                        </tr>
                    }
                    <tr>

                        <td colspan="6" style="text-align:right">
                            <strong style="font-size:20px">Tổng tiền:&nbsp<span class="amount" id="order-total">@String.Format("{0:0,0}", tongtien) &nbsp VNĐ</span></strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="btnContinute" class="btn">Tiếp tục mua hàng</button>
            <button id="btnPayment" class="btn">Thanh toán</button>
        }
        else
        {
            <h3>Chưa có sản phẩm nào trong giỏ hàng !</h3>
        }

    </div>
=======
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    decimal tongtien = 0;

}
@section jsFooter{
    <script src="~/Assets/Client/controller/cartController.js"></script>
    <link href="~/Assets/Client/css/CustomButton.css" rel="stylesheet" />
}
<h2>Giỏ Hàng</h2>
<div class="content" style="margin:50px 200px">
    @if (Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Ảnh</th>
                    <th>Đơn giá</th>
                    <th>Size giày</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    tongtien = tongtien + @item.Gia * @item.SoLuong;
                    <tr id="row-order-@item.MaAnh@item.KichCo">
                        <td>@item.ChiTietSanPham.AnhMoTa.SanPham.TenSP</td>
                        <td>

                            @{
                                string ImagePath = "~/wwwroot/Images/" + @item.ChiTietSanPham.AnhMoTa.HinhAnh;
                            } <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />

                        </td>
                        <td>@String.Format("{0:0,0}", @item.Gia)</td>
                        <td>@item.KichCo</td>
                        <td><input type="number" class="txtQuantity" data-id="@item.MaAnh" data-kichco="@item.KichCo" min="1" value="@item.SoLuong" /></td>
                        <td id="thanh-tien-@item.MaAnh@item.KichCo">@String.Format("{0:0,0}", (item.Gia * item.SoLuong))</td>
                        <td>
                            <div class="clearfix"></div>
                            <button id="deleteId" data-id="@item.MaAnh" data-kichco="@item.KichCo" class="btnDelete">X</button>
                        </td>
                    </tr>
                }
                <tr>

                    <td colspan="6" style="text-align:right">
                        <strong style="font-size:20px">Tổng tiền:&nbsp<span class="amount" id="order-total">@String.Format("{0:0,0}", tongtien) &nbsp VNĐ</span></strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="btnContinute" class="btn">Tiếp tục mua hàng</button>
        <button id="btnPayment" class="btn">Thanh toán</button>
    }
    else
    {
        <h3>Chưa có sản phẩm nào trong giỏ hàng !</h3>
    }

</div>
>>>>>>> 3ef677c70d3ebdedd570a5cebc28b220eb812637
